.container {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        max-width: 744px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1128px;  
        margin: 0 auto;
    } 
}